<br>

<div class="container-fluid bg-1 text-center">
  <h3>Who Am I?</h3>
  <img src=".\assets\Cars-images.jpg"width="450" height="300" class="img-responsive img-circle" style="display:inline"  alt="Bird">
<!--  <img src=".\assets\Cars-images.jpg" class="img-circle" alt="Bird">-->
  <h3>I'm an adventurer</h3>
</div>

<div class="container-fluid bg-2 text-center">
  <h3>What Am I?</h3>
  <p>Lorem ipsum..</p>
</div>

<div class="container-fluid bg-3 text-center">
  <h3>Where To Find Me?</h3>
  <p>Lorem ipsum..</p>
</div>
