<div class="container">
  <div class="panel panel-default" >
    <br>
    <br>
    <br>
    <br>
    


      <div class="panel-heading"><h1>order car number: {{orderStore.singleOrder?.OrderCar.CarNumber}}</h1></div>
      <div class="panel-body">


           <p>order-start-date: {{orderStore.singleOrder?.OrderStartDate}}</p>
          <p> order-return-date: {{orderStore.singleOrder?.OrderReturnDate}}</p> 
          <p> order-actual-return date: {{orderStore.singleOrder?.OrderActualReturnDate}}</p>
          <p> order car model : {{orderStore.singleOrder?.OrderCar.CarType.Model}}</p>
          <p> order car manufacturer: {{orderStore.singleOrder?.OrderCar.CarType.Manufacturer}}</p>
          <p> order car manufacture year: {{orderStore.singleOrder?.OrderCar.CarType.ManufactureYear}}</p>
          <p> order car gear: {{orderStore.singleOrder?.OrderCar.CarType.Gear}}</p>
          <p> order daily cost: {{orderStore.singleOrder?.OrderCar.CarType.DailyCost}}</p>
          <p> order day delay cost: {{orderStore.singleOrder?.OrderCar.CarType.DayDelayCost}}</p>
          
      </div>
  


  <a routerLink="/chosenCars" class="btn btn-primary">Back to list</a>

</div>

</div>
