
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li>
                <div class="form-group row">
                    <div class="col-xs-12">
                      <br>
                      <input class="form-control" id="ex2" type="text" placeholder="Enter name:" (keyup)="chooseUser(localUserName)" [(ngModel)]="localUserName">
                    </div>
                  </div> 
            </li>
            <li>
              <a *ngIf="localUser.UserRole=='user'" routerLink="/books">BOOKS</a>
            </li>
            <li>
              <a routerLink="/authors">AUTHORS</a>
            </li>
            <li>
              <a *ngIf="localUser.UserRole=='manager'" routerLink="/users">USERS</a>
            </li>
            <li>
              <a *ngIf="localUser.UserRole=='manager'"routerLink="/cars">CARS</a>
            </li>
            <li>
              <a *ngIf="localUser.UserRole=='manager'"routerLink="/carTypes">CAR-TYPES</a>
            </li>
            <li>
              <a *ngIf="localUser.UserRole=='manager'"routerLink="/orders">ORDERS</a>
            </li>
            <li>
              <a *ngIf="localUser.UserRole=='user' || localUser.UserRole=='manager' || localUser.UserRole=='anonimous'" routerLink="/login">LogIn</a>
            </li>
            <li>
              <a routerLink="/register">REGISTER</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>